@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap');
:root {
    --clr-background: #1a1f28;
    --clr-section: #22252e;
    --clr-button: #2b2d36;
    --clr-button-hover: #2984e3;
    --clr-text: #e2e5eb;
    --clr-text-passive: #686a72;
    --clr-text-hidden: #46484e;
    --grdnt-button: linear-gradient(0deg, #296ae3 0%, #2984e3 100%);
    --px-margin: 1em;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: var(--clr-text);
    position: relative;
    min-height: 100%;
    width: 100%;
}

body {
    background-color: var(--clr-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    max-height: 100vh;
}

body .section {
    background-color: var(--clr-section);
    border-radius: var(--px-margin);
    margin: var(--px-margin);
    min-width: calc(var(--width) - var(--px-margin) * 2);
    height: calc(var(--height) - var(--px-margin) * 2);
    --width: 0;
    --height: 100vh;
}

#_navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 200ms;
    --width: 20em;
}

#_navigation * {
    box-shadow: 0 0 0.5em #0000001e;
}

#_navigation span {
    width: 256px;
    height: 102px;
    border-radius: var(--px-margin);
    margin: var(--px-margin) var(--px-margin) 0 var(--px-margin);
}

#_navigation :is(img,
.selected) {
    box-shadow: none;
}

#_navigation a {
    border-radius: var(--px-margin);
    margin: var(--px-margin) var(--px-margin) 0 var(--px-margin);
    padding: calc(var(--px-margin) * 0.5) var(--px-margin);
    font-family: 'Jaldi', sans-serif;
    text-decoration: none;
    width: calc(100% - var(--px-margin) * 4);
}

#_navigation .selected {
    background-color: #262932;
    color: var(--clr-text-hidden);
}

#_navigation .nav {
    transition: background-color 200ms;
    background-color: var(--clr-button);
    color: var(--clr-text);
}

#_navigation .nav:hover {
    transition: background-color 200ms;
    background-color: var(--clr-button-hover);
    color: var(--clr-section);
}

#_mobile-button {
    transition: left 200ms;
    background: var(--grdnt-button);
    position: relative;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    --width: 5em;
    margin-left: 0;
    border-radius: 0 var(--px-margin) var(--px-margin) 0;
    overflow: hidden;
}

#_mobile-button #second {
    position: absolute;
    left: -48px;
}

#_screen {
    --width: calc(100% - 21em);
    margin-left: 0;
    padding: var(--px-margin);
    --height: calc(100vh - var(--px-margin) * 2);
    overflow-y: auto;
}

h1,
p {
    margin: 0 0 0.2em 0;
}

em,
hr {
    font-style: normal;
    color: var(--clr-text-passive);
}

h1 b {
    color: var(--clr-button-hover);
}

.card {
    overflow: auto;
}