body {
    --header-size: 5rem;
    overflow-y: auto;
}

footer section {
    color: var(--clr-text);
}

footer section h3 {
    background-color: var(--clr-accent);
    position        : relative;
    margin          : -1.6rem 0 0 0;
    padding         : 0.25rem 0.5rem;
    border-radius   : 0.5rem;
    box-shadow      : 0 0 1rem rgba(0, 0, 0, 0.2);
    width           : max-content;
}

footer section h3 b {
    color: var(--clr-accentL);
}

footer section span {
    display       : flex;
    flex-direction: row;
    position      : relative;
    height        : 100%;
    width         : 100%;
}

footer section span input[type="color"] {
    background-color: transparent;
    height          : 3rem;
    width           : 50%;
    border          : none;
    padding         : 0;
}

footer section span .mode-switcher {
    transition      : background-color 200ms;
    background-color: var(--clr-backgroundD);
    color           : var(--clr-text);
    border          : none;
    height          : 2rem;
    display         : flex;
    align-items     : center;
    justify-content : center;
    border-radius   : 0.5rem 0 0 0.5rem;
}

footer section span .mode-switcher:last-child {
    margin-left  : 0.2rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

footer section span button.focus {
    background-color: var(--clr-accent);
}

footer section #user-input {
    background-color: var(--clr-backgroundD);
    color           : var(--clr-text);
    font-family     : Minecraft;
    font-weight     : normal;
    text-shadow     : 0 2px 0 #0000007a;
    width           : calc(100% - 1rem);
    line-height     : 1rem;
    height          : 8rem;
    border-radius   : 0.5rem;
    padding         : 0.5rem;
    resize          : none;
    border          : none;
    outline         : none;
}

footer section :is(#user-input:focus, .user-additional-input:focus) {
    border: 2px solid var(--clr-accent);
}

footer section #user-input:focus {
    width : calc(100% - 1rem - 4px);
    height: calc(8rem - 4px);
}

footer section .user-additional-input:focus {
    width : calc(100% - 1rem - 4px);
    height: calc(1rem - 4px);
}

footer section .user-additional-input {
    background-color: var(--clr-backgroundD);
    color           : var(--clr-text);
    font-family     : Minecraft;
    font-weight     : normal;
    text-shadow     : 0 2px 0 #0000007a;
    width           : calc(100% - 1rem);
    line-height     : 1rem;
    height          : 1rem;
    border-radius   : 0.5rem;
    padding         : 0.5rem;
    border          : none;
    outline         : none;
}

footer section span.parent-switcher {
    align-items  : center;
    height       :max-content;
    margin-bottom: 1rem;
}

footer section span u {
    margin-right: 1rem;
    font-family : Minecraft;
    font-weight : normal;
    text-shadow : 0 2px 0 #0000007a;
    white-space : nowrap;
}

footer section span .normal-switcher {
    background-color: var(--clr-backgroundD);
    display         : flex;
    height          : 1rem;
    width           : 2rem;
    border-radius   : 0.4rem;
}

footer section span .normal-switcher.focus button {
    margin-left     : 1rem;
    background-color: var(--clr-accent) !important;
}

footer section span .normal-switcher button {
    transition      : margin-left 200ms ease-out, background-color 200ms;
    background-color: var(--clr-text) !important;
    border-radius   : 0.4rem;
    height          : 1rem;
    width           : 1rem;
    border          : none;
}

footer section span #output {
    height     : max-content;
    white-space: normal;
    text-align : left;
}

footer section span #output::before {
    content    : '[Click to copy] ';
    color      : var(--clr-textL);
    text-shadow: none;
}