:root {
    font-size: 16px;
    --speed: 150ms;

    --header: #2F2F2F;
    --header-light: #444444;
    --outline: #505050;
    --background: #242424;
    --background-dark: #1E1E1E;
    --background-light: #363636;
    --hint: #919191;
    --text: #F3F3F3;

    --green: #35e443;
    --blue: #3584E4;
    --yellow: #ffbe32;
    --red: #ff5252;
    --accent: var(--blue);
}

* {
    font-family: 'Ubuntu', sans-serif;
}

*:focus {
    outline: 2px solid var(--accent);
}

html {
    scroll-behavior: smooth;
    position:relative; 
    min-height: 100%;
}

body {
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
