.icon {
    min-height: 1rem;
    min-width: 1rem;
}

.button {
    transition: background-color var(--speed);
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: var(--text);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border: none;
    outline: none;
    white-space: nowrap;
    font-size: 1rem;
    font-family: var(--font);
    font-weight: bold;
}

span.button,
a.button {
    height: 1.25rem;
}

button.button {
    height: 2.25rem;
}

input.input {
    height: 1.25rem;
}

.button > span { margin-top: 1px; } /* Work around */

.button > .icon_secondary {
    margin-left: auto;
    margin-right: 0;
}

.button:focus,
.input:focus {
    outline: 2px solid var(--focus);
}

.button.nav,
.input.nav {
    width: calc(100% - 2rem);
    margin: 0 0.5rem;
}

button.button.nav {
    width: calc(100% - 1rem);
}

.button.nav:hover {
    background-color: var(--background-hover);
}

.button.nav.selected {
    background-color: var(--header-hover);
}

.button.tab:hover {
    background-color: var(--section);
}

.button.tab.selected {
    background-color: var(--header-hover);
}


.input {
    transition: background-color var(--speed);
    background-color: var(--input);  
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: var(--text);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border: none;
    outline: none;
    white-space: nowrap;
    font-size: 1rem;
    font-family: var(--font);
    width: fit-content;
}


.input.with_icon {
    position: relative;
    padding-left: 2rem;
}

.input.with_icon + label {
    position: absolute;
    margin: 0.6rem;
    left: 0.5rem;
}

.input.nav.with_icon {
    width: calc(100% - 3.5rem);
}

.input.property {
    background-color: var(--section);
}


article {
    outline: 1px solid var(--outline);
    width: min(100% - 2.5rem, 40rem);
    background-color: var(--section);
    padding: 0.5rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    overflow-x: auto;
}

article hr {
    margin-left: -0.5rem;
    width: calc(100% + 1rem);
}

article h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: -1rem;
}

article p {
    line-height: 1.35rem;
    margin: 1rem 0;
}

article p.properties {
    background-color: var(--background);
    outline: 1px solid var(--outline);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

article p:last-child {
    margin-bottom: 0;
}

article em.extra {
    font-style: normal;
    color: var(--text-description)
}

article em.description {
    font-style: normal;
    color: var(--text-description);
    display: block;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
}

article h1 + em.description {
    margin-top: 1rem;
}

article code.inline {
    border-radius: 0.25rem;
    padding: 0.125rem 0.25rem;
    display: inline-block;
    background-color: var(--background);
    font-family: var(--font-monospace);
    width: fit-content;
    white-space: normal;
    font-size: 1em;
}

article .code-block {
    display: block;
    background-color: var(--background);
    border-radius: 0.5rem;
    font-family: var(--font-monospace);
    font-size: 1rem;
    white-space: normal;
    padding: 0.5rem 0;
    margin: -0.5rem 0;
    border-left: 2rem solid transparent;
    list-style: none;
    counter-reset: mycounter;
    width: calc(100% - 2rem);
}

article .code-block > li:first-child > span {
    font-weight: bold;
    color: var(--text);
}

article .code-block li {
    position: relative;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: 1.5rem;
    display: block;
}

article .code-block li:nth-child(even) {
    background-color: var(--background-dimmed);
}

article .code-block li::before {
    content: counter(mycounter); 
    counter-increment: mycounter;
    position: absolute;
    top: 0;
    left: -2rem;
    width: 2rem;
    height: 1.5rem;
    line-height: 1.5rem;
    color: var(--text-description);
    text-align: center;
}

article .code-block:target {
    outline: 2px solid var(--yellow);
}

article code.title {
    background-color: var(--text);
    color: var(--background);
    font-weight: bold;
}

article > ul {
    margin-top: -0.75rem;
}

article > ul > ul {
    margin-top: 0.25rem;
}

article ul li {
    line-height: 1.35rem;
}

article ul li:not(:first-child) {
    margin-top: 0.25rem;
}

article a {
    color: var(--blue);
}

article a.function {
    color: var(--yellow);
}

article details {
    transition: height 400ms;
    position: relative;
    background-color: var(--section-hover);
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: calc(100% - 1rem);
    height: 1.25rem;
    display: inline-block;
    overflow-y: hidden;
}

article details .overflow {
    position: absolute;
    display: block;
    background: var(--section-hover);
    background: -moz-linear-gradient(0deg, var(--section-hover) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(0deg, var(--section-hover) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(0deg, var(--section-hover) 0%, rgba(0,0,0,0) 100%);
    width: calc(100% - 1.5rem);
    height: 2rem;
    bottom: 0;
}

article details code.inline {
    background-color: var(--section);
}

article details summary {
    margin-bottom: 0.5rem;
}

article details div {
    overflow-y: auto;
    height: 5.6rem;
    width: 100%;
    padding: 0.5rem;
    margin: 0 -0.5rem;
}

article details div::after {
    content: '';
    display: block;
    margin-top: 1rem;
}

article details[open] {
    height: 8rem;
}

article span.format-command {
    color: var(--red);
}

article span.format-arg {
    color: var(--yellow);
}

article span.format-selector {
    color: var(--yellow);
}

article span.insert {
    color: var(--green);
    text-decoration: underline;
    white-space: nowrap;
}

article span.insert.no-format {
    background-color: transparent;
}

article span.comment {
    color: var(--text-description);
}

del * {
    text-decoration: line-through;
}
