.icon {
    min-height: 1em;
    min-width: 1em;
    height: 1em;
    width: 1em;
}

a {
    color: var(--blue);
}

a.local_link {
    text-decoration: none;
}

a.local_link > .icon {
    min-width: 1.5rem;
    min-height: 1.5rem;
}


/* Buttons: */
.button {
    background-color: transparent;
    color: var(--text-dimmed);
    padding: 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
}

.button.animated {
    transition: background-color 200ms, color 200ms;
}

.button > span {
    margin-top: 1px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--text);
}

.button:focus {
    outline: 2px solid var(--focus-outline);
}

.button.focus {
    background-color: var(--header-highlight);
    color: var(--text);
}

.button.focus.pinned > .icon:last-child {
    color: var(--text);
}

.button.category > .icon:last-child {
    margin-left: auto;
    margin-right: 0;
}

.button.pinned > .icon:last-child {
    margin-left: auto;
    margin-right: 0;
    color: var(--text-disabled);
}

.button.category + label {
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 100%;
    min-width: var(--nav-size);
    width: var(--nav-size);
    height: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.button.category + label hr {
    margin: 0;
}

.page {
    transition: left 200ms, margin-left 200ms, padding-right 200ms;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 1rem);
}

.category:not(.revealed) + label {
    left: 100%;
}

.category.revealed + label {
    left: 0;
}


/* Inputs: */
.input {
    background-color: var(--header-highlight);
    border: none;
    margin: 0;
    padding: 0 0.5rem;
    height: 2rem;
    color: var(--text);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.25rem;
}

.input:focus {
    outline: 2px solid var(--focus-outline);
}

.input.with_an_icon {
    position: relative;
    padding-left: 2rem;
}

.input.with_an_icon + label {
    position: absolute;
    margin: 0.5rem;
    left: 0.5rem;
    color: var(--text);
}


/* Inputs/Buttons: */
.button.margin,
.input.margin {
    margin: 0 0.5rem;
}

.button.fit-parent,
.input.fit-parent {
    width: calc(100% - 1rem);
}

.button.fit-parent.margin,
.input.fit-parent.margin {
    width: calc(100% - 2rem);
}

.button.fit-parent.with_an_icon,
.input.fit-parent.with_an_icon {
    width: calc(100% - 3.5rem);
}

.button.fit-absolute,
.input.fit-absolute {
    width: 100%;
}

.button.fit-absolute.margin,
.input.fit-absolute.margin {
    width: calc(100% - 1rem);
}


/* Other: */
main .center {
    margin: 0 auto;
    text-align: center;
}

main article {
    background-color: var(--list);
    margin: 0.375rem auto;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-weight: 300;
    width: min(100% - 1.5rem, 48rem);
}

main article:target {
    outline: 2px solid var(--focus-outline);
    -webkit-animation: target-fade 500ms;
    -moz-animation: target-fade 500ms;
    -o-animation: target-fade 500ms;
    animation: target-fade 500ms;
}

@-webkit-keyframes target-fade {
	from { background-color: var(--header-highlight); } /* [1] */
	to { background-color: var(--list); }
}

@-moz-keyframes target-fade {
	from { background-color: var(--header-highlight); } /* [1] */
	to { background-color: var(--list); }
}

@-o-keyframes target-fade {
	from { background-color: var(--header-highlight); } /* [1] */
	to { background-color: var(--list); }
}

@keyframes target-fade {
	from { background-color: var(--header-highlight); } /* [1] */
	to { background-color: var(--list); }
}

main h1 {
    margin: 0;
    font-size: 2.5rem;
}

main h2 {
    margin: 0;
    font-size: 1.35rem;
}

main h3 {
    margin: 0;
    font-size: 0.8rem;
}

main article ul {
    margin-top: 0;
    margin-bottom: 0;
}

main article ul li {
    line-height: 1.5rem;
}

main article p {
    margin: 0.75rem 0;
    line-height: 1.35rem;
}

main article p:last-child {
    margin-bottom: 0;
}

main article *.with_an_icon {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

main article *.with_an_icon.centered {
    align-items: center;
}

main article *.with_an_icon.centered .icon {
    display: flex;
    margin: auto 0;
}

main article p.with_an_icon > *:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    margin-top: 2px;
}

main article em {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

main article em.hint {
    display: block;
    line-height: 0.8rem;
    font-size: 0.8rem;
}

main article em.hint::after {
    content: '';
    display: block;
    margin-bottom: 0.4rem;
}

main article em br {
    line-height: 0.8rem;
}

code {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    font-family: Ubuntu Mono, 'Courier New', Courier, monospace;
    white-space: nowrap;
}

code u {
    text-decoration: none;
    color: var(--green);
    font-family: Ubuntu Mono, 'Courier New', Courier, monospace;
}