.icon {
    min-height: 1rem;
    min-width: 1rem;
}

.button {
    transition: background-color var(--speed);
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: var(--text);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border: none;
    outline: none;
    white-space: nowrap;
    font-size: 1rem;
    font-family: var(--font);
}

span.button,
a.button {
    height: 1.25rem;
}

button.button {
    height: 2.25rem;
}

input.input {
    height: 1.25rem;
}

.button > span { margin-top: 1px; } /* Work around */

.button > .icon_secondary {
    margin-left: auto;
    margin-right: 0;
}

.button:focus,
.input:focus {
    outline: 2px solid var(--focus);
}

.button.nav,
.input.nav {
    width: calc(100% - 2rem);
    margin: 0 0.5rem;
}

button.button.nav {
    width: calc(100% - 1rem);
}

.button.nav:hover {
    background-color: var(--background-hover);
}

.button.tab:hover {
    background-color: var(--section);
}

.button.tab.selected {
    background-color: var(--header-hover);
}


.input {
    transition: background-color var(--speed);
    background-color: var(--input);  
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: var(--text);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border: none;
    outline: none;
    white-space: nowrap;
    font-size: 1rem;
    font-family: var(--font);
    width: fit-content;
}


.input.with_icon {
    position: relative;
    padding-left: 2rem;
}

.input.with_icon + label {
    position: absolute;
    margin: 0.6rem;
    left: 0.5rem;
}

.input.nav.with_icon {
    width: calc(100% - 3.5rem);
}
